<section class="about-section section-ptb" id="about">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="themeix-section-heading-title">
          <h2 class="head-title">Wat is Pokayoka</h2>
          <!-- <p class="light-300 color-change">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that</p> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="about-pb">
          <div class="col-md-6">
            <div class="about-appix-left-img">
              <img
                src="{{ site.baseurl }}/assets/images/about/vastleggen.svg"
                alt="about"
                class="img-responsive"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-appix-right-content">
              <h2 class="themeix-title-h1">
                Inspecteren en rapporteren
              </h2>
              <p class="para-mb">
                Geef bevindingen en vastleggingen aan in de plattegrond. Wijs
                bevindingen toe aan een verantwoordelijke en houdt de voortgang
                bij. Maak mooie, overzichtelijke rapporten.
              </p>
              <div class="themeix-button-group">
                {% include action_buttons.html %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-appix-right-content">
            <h2 class="themeix-title-h1">
              Ketenplanning
            </h2>
            <p class="para-mb">
              Alles komt bij elkaar in de planning. Onze planning is _volledig_
              en kan per aannemer, per ruimte en per element door alle
              betrokkenen bekeken worden.
            </p>
            <div class="themeix-button-group">
              {% include action_buttons.html %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-appix-left-img">
            <img
              src="{{ site.baseurl }}/assets/images/about/planning.svg"
              alt="apps"
              class="img-responsive"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-appix-left-img">
            <img
              src="{{ site.baseurl }}/assets/images/about/foutpreventie.svg"
              alt="about"
              class="img-responsive"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-appix-right-content">
            <h2 class="themeix-title-h1">
              Foutpreventie
            </h2>
            <p class="para-mb">
              Fouten maken doen we allemaal wel eens, maar hoe zorg je ervoor
              dat het bij 1x blijft? Door gebruik te maken van het Pokayoka
              kwaliteitsverbeteringsproces!
            </p>
            <div class="themeix-button-group">
              {% include action_buttons.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
