<section class="about-section section-ptb" id="about">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="themeix-section-heading-title">
          <h2 class="head-title">Wat is Pokayoka</h2>
          <!-- <p class="light-300 color-change">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that</p> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="about-pb">
          <div class="about-image">
            <div class="about-appix-left-img">
              <img
                src="{{ site.baseurl }}/assets/images/about/vastleggen.svg"
                alt="about"
                class="img-responsive"
              />
            </div>
          </div>
          <div class="about-text">
            <div class="about-appix-right-content">
              <h2 class="themeix-title-h1">
                Inspecteren en rapporteren
              </h2>
              <p class="para-mb">
                Tegenwoordig zijn we in de bouw continu aan het opleveren.
                Richting de opdrachtgever, maar ook aan elkaar binnen het
                bouwteam. Dit is een manier om grip te krijgen op het
                opleverproces en dit verhoogt tegelijkertijd de kwaliteit.
              </p>

              <h3>Gebruik Pokayoka om:</h3>
              <ol class="benefits">
                <li>1. Bevindingen op te lossen</li>
                <li>2. Het asbuilt dossier aan te vullen</li>
              </ol>
              <h3>Voordelen van Pokayoka inspecties:</h3>
              <ul class="benefits">
                <li>
                  <i class="fas fa-check"></i>Niets installeren, gelijk aan de
                  slag
                </li>
                <li>
                  <i class="fas fa-check"></i>Makkelijk doorverwijzen naar
                  collega's
                </li>
                <li>
                  <i class="fas fa-check"></i>Stimuleert menselijke communicatie
                  door <a href="/handovers">Handover werkwijze</a>
                </li>
                <li><i class="fas fa-check"></i>Algemene punten</li>
                <li>
                  <i class="fas fa-check"></i>Helder communicerende rapporten
                </li>
              </ul>
              <div class="themeix-button-group">
                {% include action_buttons.html %}
              </div>
            </div>
          </div>
        </div>

        <div class="about-pb reverse">
          <div class="about-text">
            <div class="about-appix-right-content">
              <h2 class="themeix-title-h1">
                Ketenplanning
              </h2>
              <p class="para-mb">
                Alles komt bij elkaar in de planning. Onze planning is
                _volledig_ en kan per aannemer, per ruimte en per element door
                alle betrokkenen bekeken worden.
              </p>
              <div class="themeix-button-group">
                {% include action_buttons.html %}
              </div>
            </div>
          </div>
          <div class="about-image">
            <div class="about-appix-left-img">
              <img
                src="{{ site.baseurl }}/assets/images/about/planning.svg"
                alt="apps"
                class="img-responsive"
              />
            </div>
          </div>
        </div>

        <div class="about-pb">
          <div class="about-image">
            <div class="about-appix-left-img">
              <img
                src="{{ site.baseurl }}/assets/images/about/foutpreventie.svg"
                alt="about"
                class="img-responsive"
              />
            </div>
          </div>
          <div class="about-text">
            <div class="about-appix-right-content">
              <h2 class="themeix-title-h1">
                Foutpreventie
              </h2>
              <p class="para-mb">
                Fouten maken doen we allemaal wel eens, maar hoe zorg je ervoor
                dat het bij 1x blijft? Door gebruik te maken van het Pokayoka
                kwaliteitsverbeteringsproces!
              </p>
              <div class="themeix-button-group">
                {% include action_buttons.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
