<!-- start get appix now -->
<section id="get-apps" class="get-appix-setion section-ptb">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="themeix-section-heading-title">
               <h2 class="head-title">Get Appix Now</h2>
               <p class="light-300">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="display-middle">
               <div class="table-middle">
                  <a href="#" class="play-store-button"><i class="fa fa-android"></i> Play Store</a>
                  <a href="#" class="play-store-button itune-change-bg-color"><i class="fa fa-apple"></i> iTunes</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end get appix now -->