<section id="features" class="section-ptb">
  <div class="exclusive-features-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="themeix-section-heading-title">
            <h2 class="head-title">Features</h2>
            <p class="light-300"></p>
          </div>
        </div>
      </div>
      <!--The First row-->
      <!--The First row-->
      <div class="zenith-wrapper">
        <div class="grid-wrapper">
          <div class="feature-section highlight" data-index="0">
            <div class="feature-content">
              <h3 class="themeix-feature-title">
                <i class="fas fa-sync-alt"></i>
                <span>Continue kwaliteitsverbetering</span>
              </h3>
              <p class="themeix-feature-style">
                Voeg in de werkvoorbereiding instructies toe, zodat degene op de
                steiger het onmogelijk fout kan doen. Geef vanuit de uitvoering
                feedback richting calculatie en werkvoorbereiding.
              </p>
            </div>
          </div>
          <div class="feature-section highlight" data-index="1">
            <div class="feature-content">
              <h3 class="themeix-feature-title">
                <i class="far fa-heart"></i><span>Menselijke communicatie</span>
              </h3>
              <p class="themeix-feature-style">
                Verbeteren communicatie en verlagen van faalkosten gaan
                hand-in-hand. Geen 15 berichtjes per dag ontvangen, maar elkaar
                in de ogen kijken en ruimte hebben voor vragen.
              </p>
            </div>
          </div>
          <div class="feature-section highlight" data-index="4">
            <div class="feature-content">
              <h3 class="themeix-feature-title">
                <i class="fas fa-cube"></i><span>BIM in je broekzak</span>
              </h3>
              <p class="themeix-feature-style">
                Soms heb je 3D nodig om inzicht te krijgen in de 2D plattegrond.
                Wij brengen IFC BIM naar de steiger.
              </p>
            </div>
          </div>

          <div class="feature-section highlight" data-index="3">
            <div class="feature-content">
              <h3 class="themeix-feature-title">
                <i class="fas fa-balance-scale"></i
                ><span>Kwaliteitsborging</span>
              </h3>
              <p class="themeix-feature-style">
                We zijn helemaal klaar voor naderende wetgeving. Vastleggingen
                van gerealiseerd werk en projectdocumentatie kunnen worden
                toegevoegd aan de elementen van het werk.
              </p>
            </div>
          </div>

          <div class="feature-section highlight" data-index="2">
            <div class="feature-content">
              <h3 class="themeix-feature-title">
                <i class="fas fa-tasks"></i><span>Heldere opdrachten</span>
              </h3>
              <p class="themeix-feature-style">
                Wij groeperen alles in <i>Handovers</i>. Dit zijn bundeltjes van
                opdrachten voorzien van plattegronden, details, BIM elementen en
                verwerkingsinstructies. Alles wat nodig is om het werk 100% op
                te leveren.
              </p>
            </div>
          </div>
          <div class="feature-section highlight" data-index="5">
            <div class="feature-content">
              <h3 class="themeix-feature-title">
                <i class="fas fa-wifi"></i><span>Werkt offline</span>
              </h3>
              <p class="themeix-feature-style">
                Wat als het Internet even niet werkt? Geen probleem, je kunt
                gewoon door blijven werken. Wij zorgen ervoor dat alle data weer
                wordt gesynchroniseerd wanneer je weer online bent.
              </p>
            </div>
          </div>
          <div class="feature-section highlight" data-index="6">
            <div class="feature-content">
              <h3 class="themeix-feature-title">
                <i class="fas fa-download"></i
                ><span>Geen installatie nodig</span>
              </h3>
              <p class="themeix-feature-style">
                Even een Handover doorsturen naar een collega? Wij sturen hem
                een sms of e-mail en hij kan direct aan de slag. Hij hoeft hier
                niets voor te installeren.
              </p>
            </div>
          </div>
          <div class="feature-section highlight" data-index="7">
            <div class="feature-icon"></div>
            <div class="feature-content">
              <h3 class="themeix-feature-title">
                <i class="fas fa-tachometer-alt"></i>
                <span>Rapporten waar je wat aan hebt</span>
              </h3>
              <p class="themeix-feature-style">
                Wij zijn bijzonder trots op onze rapporten. De voortgang kan
                worden bijgehouden en bevindingen kunnen worden gegroepeerd op
                datum, per element, per ruimte.
              </p>
            </div>
          </div>
        </div>
        <!-- .row .left-row -->
      </div>
    </div>
  </div>
</section>
