<section id="features" class="section-ptb">
    <div class="exclusive-features-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="themeix-section-heading-title">
                        <h2 class="head-title">Exclusive Features</h2>
                        <p class="light-300">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that</p>
                    </div>
                </div>
            </div>
            <!--The First row-->
            <!--The First row-->
            <div class="zenith-wrapper">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-section highlight" data-index="0">
                            <div class="feature-icon">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="themeix-feature-title">Awesome Design</h3>
                                <p class="themeix-feature-style">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ome form, by injected humour, or words</p>
                            </div>
                        </div>
                        <div class="feature-section highlight" data-index="1">
                            <div class="feature-icon">
                                <i class="fa fa-android"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="themeix-feature-title">Mobile Friendly Design</h3>
                                <p class="themeix-feature-style">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ome form, by injected humour, or words</p>
                            </div>
                        </div>
                        <div class="feature-section highlight" data-index="2">
                            <div class="feature-icon">
                                <i class="fa fa-bitbucket"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="themeix-feature-title">Super Fast Caching</h3>
                                <p class="themeix-feature-style">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ome form, by injected humour, or words</p>
                            </div>
                        </div>
                        <div class="feature-section highlight" data-index="3">
                            <div class="feature-icon">
                                <i class="fa fa-calendar-check-o"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="themeix-feature-title">Optimized Server</h3>
                                <p class="themeix-feature-style">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ome form, by injected humour, or words</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 hidden-xs padding-zero">
                        <div class="phone-holder">
                            <div id="fon"></div>
                            <div class="hgh-linner hgi" data-index="0">
                                <img src="{{site.baseurl}}/assets/images/screenshort-image/1.jpg" class="attachment-highlight wp-post-image" alt="screen" />
                            </div>
                            <div class="hgh-linner hgi" data-index="1">
                                <img src="{{site.baseurl}}/assets/images/screenshort-image/2.jpg" class="attachment-highlight wp-post-image" alt="screensdst" />
                            </div>
                            <div class="hgh-linner hgi" data-index="2">
                                <img src="{{site.baseurl}}/assets/images/screenshort-image/3.jpg" class="attachment-highlight wp-post-image" alt="screen_09" />
                            </div>
                            <div class="hgh-rinner hgi" data-index="3">
                                <img src="{{site.baseurl}}/assets/images/screenshort-image/4.jpg" class="attachment-highlight wp-post-image" alt="screen_07" />
                            </div>
                            <div class="hgh-rinner hgi" data-index="4">
                                <img src="{{site.baseurl}}/assets/images/screenshort-image/5.jpg" class="attachment-highlight wp-post-image" alt="screen_08" />
                            </div>
                            <div class="hgh-rinner hgi" data-index="5">
                                <img src="{{site.baseurl}}/assets/images/screenshort-image/6.jpg" class="attachment-highlight wp-post-image" alt="screen_06" />
                            </div>
                            <div class="hgh-rinner hgi" data-index="6">
                                <img src="{{site.baseurl}}/assets/images/screenshort-image/6.jpg" class="attachment-highlight wp-post-image" alt="screen_06" />
                            </div>
                            <div class="hgh-rinner hgi" data-index="7">
                                <img src="{{site.baseurl}}/assets/images/screenshort-image/6.jpg" class="attachment-highlight wp-post-image" alt="screen_06" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-section highlight" data-index="4">
                            <div class="feature-icon">
                                <i class="fa fa-battery-2"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="themeix-feature-title">Read Clearly</h3>
                                <p class="themeix-feature-style">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ome form, by injected humour, or words</p>
                            </div>
                        </div>
                        <div class="feature-section highlight" data-index="5">
                            <div class="feature-icon">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="themeix-feature-title">Navigate Easily</h3>
                                <p class="themeix-feature-style">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ome form, by injected humour, or words</p>
                            </div>
                        </div>
                        <div class="feature-section highlight" data-index="6">
                            <div class="feature-icon">
                                <i class="fa fa-bell"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="themeix-feature-title">Find App Faster</h3>
                                <p class="themeix-feature-style">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ome form, by injected humour, or words</p>
                            </div>
                        </div>
                        <div class="feature-section highlight" data-index="7">
                            <div class="feature-icon">
                                <i class="fa fa-calendar-plus-o"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="themeix-feature-title">Search Better</h3>
                                <p class="themeix-feature-style">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ome form, by injected humour, or words</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row .left-row -->
            </div>
        </div>
    </div>
</section>