<section class="about-section section-ptb" id="handovers">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="section-header">
          <h2 class="head-title">Wij geloven dat bouwen mensenwerk is</h2>
          <img
            src="{{ site.baseurl }}/assets/images/ICON.svg"
            alt=""
            class="icon"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="about-pb">
          <div class="about-image">
            <div class="about-appix-left-img">
              <img
                src="{{ site.baseurl }}/assets/images/about/samenwerken.png"
                alt="about"
                class="img-responsive"
              />
            </div>
          </div>
          <div class="about-text">
            <div class="about-appix-right-content">
              <h3 class="themeix-title-h1">
                Wij faciliteren communicatie tussen mensen
              </h3>
              <p class="para-mb">
                <i>"We moeten beter communiceren in de bouw."</i> We zitten
                intussen vooral meer met onze neus in de digitale hulpmiddelen.
                Betekenisvol communiceren houdt niet in dat ik op een knop druk
                en dat jouw broekzak gaat trillen. Een opdracht of een lijstje
                bevindingen overdragen doe je <b>naast elkaar</b>. Er moet een
                moment zijn waarop een timmerman of onderaannemer zijn vragen
                kan stellen, hoe dom hij ze ook vindt. Dit moment noemen wij een
                <b>Handover</b>. Na afronding van de Handover, krijgt de
                timmerman een linkje toegestuurd, waardoor hij alle benodigde
                informatie op zijn eigen mobieltje heeft,
                <b>zonder iets te hoeven installeren</b>.
              </p>
              <div class="themeix-button-group">
                {% include action_buttons.html %}
              </div>
            </div>
          </div>
        </div>

        <div class="about-pb reverse">
          <div class="about-text">
            <div class="about-appix-right-content">
              <h3 class="themeix-title-h1">
                Met zelfvertrouwen aan de slag en met trots terugkijken op het
                resultaat
              </h3>
              <p class="para-mb">
                Vanuit de calculatie en werkvoorbereiding worden aannames gedaan
                over de uitvoeringsfase en de verwerking van bepaalde elementen
                en componenten. Deze aannames moeten uiteindelijk ook bij de man
                op de steiger terecht komen. In de Handover die de
                <b>vakman</b> ontvangt, staan alle details, documenten
                plattegronden en 3D BIM modellen die hij nodig heeft om met
                <b>zelfvertrouwen</b> aan de slag te gaan en <b>trots</b> te
                kunnen zijn op het door hem opgeleverde werk.
              </p>
              <div class="themeix-button-group">
                {% include action_buttons.html %}
              </div>
            </div>
          </div>
          <div class="about-image">
            <div class="about-appix-left-img">
              <img
                src="{{ site.baseurl }}/assets/images/about/handover.png"
                alt="apps"
                class="img-responsive"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
