<section class="about-section section-ptb" id="handovers">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="section-header">
          <h2 class="head-title">Handovers</h2>
          <img
            src="{{ site.baseurl }}/assets/images/ICON.svg"
            alt=""
            class="icon"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="about-pb">
          <div class="about-image">
            <div class="about-appix-left-img">
              <img
                src="{{ site.baseurl }}/assets/images/about/samenwerken.svg"
                alt="about"
                class="img-responsive"
              />
            </div>
          </div>
          <div class="about-text">
            <div class="about-appix-right-content">
              <h3 class="themeix-title-h1">
                Handovers
              </h3>
              <p class="para-mb">
                Naast elkaar
              </p>

              <h4>Voordelen van Pokayoka inspecties:</h4>
              <ul class="benefits">
                <li>
                  {% include checkmark.html %} Niets installeren, gelijk aan de
                  slag
                </li>
                <li>
                  {% include checkmark.html %} Makkelijk doorverwijzen naar
                  collega's
                </li>
                <li>
                  {% include checkmark.html %} Stimuleert menselijke
                  communicatie door <a href="/handovers">Handover werkwijze</a>
                </li>
                <li>{% include checkmark.html %} Algemene punten</li>
                <li>
                  {% include checkmark.html %} Helder communicerende rapporten
                </li>
                <li>
                  {% include checkmark.html %} Draag een as-built dossier over
                  aan de opdrachtgever en eindgebruiker
                </li>
              </ul>
              <div class="themeix-button-group">
                {% include action_buttons.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
