<nav>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="{{ site.url }}" class="">Home</a>
    </li>
    <li><a href="#about" class="">Wat is het</a></li>
    <li><a href="#features" class="">Wat kan het</a></li>
    <li><a href="#who" class="">Voor wie is het</a></li>
    <li><a href="#pricing" class="">Prijzen</a></li>
    <li><a href="#contact" class="">Contact</a></li>

    <!-- {% for page in site.pages %}
  {% if page.title %}
    
       {% if page.permalink == '/blog/index.html'%}
       <li><a href="{{page.url}}" class="">Blog</a></li>
      {% endif %}

     
    
  {% endif %}
{% endfor %} -->
  </ul>
</nav>
