<section
  class="skew themeix-bg first-skew first-skew-deg-3 remove-top-skew"
  id="home"
>
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel">
            <div class="col-md-8">
              <div class="caption-area">
                <h1 class="caption-heading">
                  <span
                    class="text-with-background registered"
                    >{{- site.productName -}}</span
                  >
                </h1>
                <p class="caption-para">
                  <span class="text-with-background">{{ page.title }}</span>
                </p>
                <p class="caption-para-second">
                  <span class="text-with-background">
                    Bespaar op faalkosten in nieuwbouw en renovatie door te
                    investeren in kwaliteit met Pokayoka.
                  </span>
                </p>
                <div class="themeix-button-group">
                  {% include action_buttons.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
