<section
  class="skew themeix-bg first-skew first-skew-deg-3 remove-top-skew"
  id="home"
>
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel">
            <div class="col-md-8">
              <div class="caption-area">
                <h1 class="caption-heading">
                  Bespaar op faalkosten en investeer in kwaliteit met Pokayoka
                </h1>
                <p class="caption-para">
                  Samen werken aan kwaliteit in nieuwbouw en renovatie.
                </p>
                <p class="caption-para-second">
                  <span class="text-with-background"> </span>
                </p>
                <div class="themeix-button-group">
                  <a
                    href="#pricing"
                    class="themeix-btn btn-clear btn-clear-white"
                    >Prijzen</a
                  >
                  <a href="#trial" class="themeix-btn no-border"
                    >Probeer het nu</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
