<section class="skew">
    <div class="our-service-section bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-slider-section">
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="{{site.baseurl}}/assets/images/service/icon-1.png" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">Awesome Design</h3>
                                    <p class="themeix-para-style">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="{{site.baseurl}}/assets/images/service/icon-2.png" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">Modern UI/UX</h3>
                                    <p class="themeix-para-style">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="{{site.baseurl}}/assets/images/service/icon-3.png" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">Cross Platform</h3>
                                    <p class="themeix-para-style">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="{{site.baseurl}}/assets/images/service/icon-4.png" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">Super Fast Server</h3>
                                    <p class="themeix-para-style">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="{{site.baseurl}}/assets/images/service/icon-4.png" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">Super Fast Server</h3>
                                    <p class="themeix-para-style">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="{{site.baseurl}}/assets/images/service/icon-4.png" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">Super Fast Server</h3>
                                    <p class="themeix-para-style">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="{{site.baseurl}}/assets/images/service/icon-4.png" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">Super Fast Server</h3>
                                    <p class="themeix-para-style">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>