<section id="pricing" class="section-ptb">
  <div class="themeix-pricing-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="themeix-section-heading-title">
            <h2 class="head-title">Prijzen</h2>
            <p class="light-300"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 wow fadeIn animated">
          <div class="single-pricing">
            <h2>Pokayoka <span>Vakman</span></h2>
            <div class="price-table">
              <span class="dollar-rate">€<b>0</b></span>
              <span class="dollar-cent">.00</span>
              <sub>/maand</sub>
            </div>
            <ul class="pricing-features">
              <li>Deelnemen aan meerdere projecten</li>
              <li>Planning inzien</li>
              <li>Handovers ontvangen</li>
              <li>BIM viewer</li>
              <li>Foto's toevoegen</li>
              <li>Comments toevoegen</li>
              <li>Voortgang bijwerken</li>
            </ul>
            <div class="spacer"></div>
            <div class="themeix-button-group">
              <a
                href="#"
                class="themeix-btn active-bg themeix-price-button-active"
                >Probeer nu</a
              >
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 wow fadeIn animated">
          <div class="single-pricing active-box-shadow">
            <h2>Pokayoka<span>Inspecteren en rapporteren</span></h2>
            <span class="price-tag">POPULAIR</span>
            <div class="price-table active-color appiex-active">
              <span class="dollar-rate">€<b>0</b></span>
              <span class="dollar-cent">.00</span>
              <sub>/maand</sub>
            </div>
            <ul class="pricing-features">
              <li>
                Ongelimiteerd aantal projecten, gebruikers en plattegronden
              </li>
              <li>Bevindingen vastleggen</li>
              <li>Handovers samenstellen en voortgang bewaken</li>
              <li>Helder communicerende rapporten</li>
              <li>Eigen logo en inleidende tekst in rapport: €25/maand</li>
              <li>
                Doorlopende projecten: €25/maand
                <span class="small-text">(anders maar 1 week beschikbaar)</span>
              </li>
            </ul>
            <div class="spacer"></div>
            <div class="themeix-button-group">
              <a href="#" class="themeix-btn price-btn-cust">Probeer nu</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12  col-sm-4  wow fadeIn animated">
          <div class="single-pricing">
            <h2>Pokayoka<span>Foutpreventie</span></h2>
            <div class="price-table">
              <span class="dollar-rate">€<b>75</b></span>
              <span class="dollar-cent">.00</span>
              <sub>/maand</sub>
            </div>
            <ul class="pricing-features">
              <li>Proactief sturen op kwaliteit</li>
              <li>Ketenplanning - overzichtsplanning en detailplanningen</li>
              <li>Deel kwaliteitsindicatoren met opdrachtgevers</li>
              <li>
                Draag een digitaal dossier over aan opdrachtgevers en
                eindgebruikers
              </li>
              <li>
                Korting? Neem contact op met onze één van onze
                implementatiepartners
              </li>
            </ul>
            <div class="spacer"></div>
            <div class="themeix-button-group">
              <a href="#" class="themeix-btn price-btn-cust">Probeer nu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
