<section id="pricing" class="section-ptb">
  <div class="themeix-pricing-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2 class="head-title">Prijzen</h2>
            <img
              src="{{ site.baseurl }}/assets/images/ICON.svg"
              alt=""
              class="icon"
            />
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-12 prices">
          
          <div class="margin-container">
            <div class="single-pricing">
              <h6>Basis</h6>
              <img
                src="{{ site.baseurl }}/assets/images/POKAYOKA.svg"
                alt="Pokayoka"
                class="pricing-logo"
              />
              <div class="price-table">
                <span class="dollar-rate">€&nbsp;0,</span>
                <span class="dollar-cent">00</span>
                <sub>/maand</sub>
              </div>
              <ul class="pricing-features">
                  <li><span>{% include checkmark.html %} Inspecteren en Rapporteren</span></li>
                <li><span>{% include checkmark.html %} 
                    Ongelimiteerd aantal projecten, gebruikers en plattegronden</span>
                </span></li>
                <li><span>{% include checkmark.html %} Handovers samenstellen en voortgang bewaken</span></li>
                <li><span>{% include checkmark.html %} Helder communicerende rapporten</span></li>
              </ul>
              <div class="spacer"></div>
              <div class="themeix-button-group">
                  <a href="#trial" class="themeix-btn btn-clear btn-clear-gray">Probeer nu</a>
              </div>
            </div>
          </div>
          <div class="single-pricing active-price">
            <h6>Professional</h6>
            <img
              src="{{ site.baseurl }}/assets/images/POKAYOKA.svg"
              alt="Pokayoka"
              class="pricing-logo"
            />
            <div class="price-table active-color">
              <span class="dollar-rate">€&nbsp;35</span>
              <span class="dollar-cent"></span>
              <sub>/maand</sub>
            </div>
            <ul class="pricing-features">
                <li><span>{% include checkmark.html %} Alle functies van Basis &eacute;n:</span></li>
              <li><span>{% include checkmark.html %} Eigen logo en inleidende tekst in rapport</span></li>
              <li><span>{% include checkmark.html %} 
                Doorlopende projecten
                <span class="small-text">(anders maar 1 week beschikbaar)</span>
              </span></li>
            </ul>
            <div class="spacer"></div>
            <div class="themeix-button-group">
              <a href="#trial" class="themeix-btn">Probeer nu</a>
            </div>
          </div>
            
          <div class="margin-container">
            <div class="single-pricing">
              <h6>Expert</h6>
              <img
                src="{{ site.baseurl }}/assets/images/POKAYOKA.svg"
                alt="Pokayoka"
                class="pricing-logo"
              />
              <div class="price-table">
                <span class="dollar-rate">€&nbsp;74,</span>
                <span class="dollar-cent">99</span>
                <sub>/maand</sub>
              </div>
              <ul class="pricing-features">
                <li><span>{% include checkmark.html %} Proactief sturen op kwaliteit</span></li>
                <li><span>{% include checkmark.html %} Ketenplanning - overzichtsplanning en detailplanningen</span></li>
                <li><span>{% include checkmark.html %} Deel kwaliteitsindicatoren met opdrachtgevers</span></li>
                <li><span>{% include checkmark.html %} 
                  Draag een digitaal dossier over aan opdrachtgevers en
                  eindgebruikers
                </span></li>
                <li><span>{% include checkmark.html %} 
                  Heeft u meer dan 10 accounts nodig? Wilt u achteraf betalen? Neem dan <a href="#contact">contact</a> met ons op
                </span></li>
              </ul>
              <div class="spacer"></div>
              <div class="themeix-button-group">
                <a href="#trial" class="themeix-btn btn-clear btn-clear-gray  ">Probeer nu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
