<section id="pricing" class="section-ptb">
  <div class="themeix-pricing-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="themeix-section-heading-title">
            <h2 class="head-title">Prijzen</h2>
            <p class="light-300"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 wow fadeIn animated">
          <div class="single-pricing">
            <h2>Pokayoka <span>Vakman</span></h2>
            <div class="price-table">
              <span class="dollar-rate">€<b>0</b></span>
              <span class="dollar-cent">.00</span>
              <sub>/maand</sub>
            </div>
            <ul class="pricing-features">
              <li><i class="fas fa-check"></i><span>Deelnemen aan meerdere projecten</span></li>
              <li><i class="fas fa-check"></i><span>Planning inzien</span></li>
              <li><i class="fas fa-check"></i><span>Handovers ontvangen</span></li>
              <li><i class="fas fa-check"></i><span>BIM viewer</span></li>
              <li><i class="fas fa-check"></i><span>Foto's toevoegen</span></li>
              <li><i class="fas fa-check"></i><span>Comments toevoegen</span></li>
              <li><i class="fas fa-check"></i><span>Voortgang bijwerken</span></li>
            </ul>
            <div class="spacer"></div>
            <div class="themeix-button-group">
              <a
                href="#"
                class="themeix-btn active-bg themeix-price-button-active"
                >Probeer nu</a
              >
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 wow fadeIn animated">
          <div class="single-pricing active-box-shadow">
            <h2>Pokayoka<span>Inspecteren en rapporteren</span></h2>
            <span class="price-tag">POPULAIR</span>
            <div class="price-table active-color appiex-active">
              <span class="dollar-rate">€<b>0</b></span>
              <span class="dollar-cent">.00</span>
              <sub>/maand</sub>
            </div>
            <ul class="pricing-features">
              <li><i class="fas fa-check"></i><span>
                  Ongelimiteerd aantal projecten, gebruikers en plattegronden</span>
              </span></li>
              <li><i class="fas fa-check"></i><span>Bevindingen vastleggen</span></li>
              <li><i class="fas fa-check"></i><span>Handovers samenstellen en voortgang bewaken</span></li>
              <li><i class="fas fa-check"></i><span>Helder communicerende rapporten</span></li>
              <li><i class="fas fa-check"></i><span>Eigen logo en inleidende tekst in rapport: €25/maand</span></li>
              <li><i class="fas fa-check"></i><span>
                Doorlopende projecten: €25/maand
                <span class="small-text">(anders maar 1 week beschikbaar)</span>
              </span></li>
            </ul>
            <div class="spacer"></div>
            <div class="themeix-button-group">
              <a href="#" class="themeix-btn price-btn-cust">Probeer nu</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12  col-sm-4  wow fadeIn animated">
          <div class="single-pricing">
            <h2>Pokayoka<span>Foutpreventie</span></h2>
            <div class="price-table">
              <span class="dollar-rate">€<b>75</b></span>
              <span class="dollar-cent">.00</span>
              <sub>/maand</sub>
            </div>
            <ul class="pricing-features">
              <li><i class="fas fa-check"></i><span>Proactief sturen op kwaliteit</span></li>
              <li><i class="fas fa-check"></i><span>Ketenplanning - overzichtsplanning en detailplanningen</span></li>
              <li><i class="fas fa-check"></i><span>Deel kwaliteitsindicatoren met opdrachtgevers</span></li>
              <li><i class="fas fa-check"></i><span>
                Draag een digitaal dossier over aan opdrachtgevers en
                eindgebruikers
              </span></li>
              <li><i class="fas fa-check"></i><span>
                Korting? Neem contact op met onze één van onze
                implementatiepartners
              </span></li>
            </ul>
            <div class="spacer"></div>
            <div class="themeix-button-group">
              <a href="#" class="themeix-btn price-btn-cust">Probeer nu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
