<section id="screenshots" class="app-screenshorts-area section-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themeix-section-heading-title">
                    <h2 class="head-title">App Screenshots</h2>
                    <p class="light-300">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="carousel" class="apps-carousel mobi-carousel">
                    <img src="{{site.baseurl}}/assets/images/screenshort-image/1.jpg" alt="Carousel">
                    <img src="{{site.baseurl}}/assets/images/screenshort-image/2.jpg" alt="Corousel">
                    <img src="{{site.baseurl}}/assets/images/screenshort-image/3.jpg" alt="Carousel">
                    <img src="{{site.baseurl}}/assets/images/screenshort-image/4.jpg" alt="Carousel">
                    <img src="{{site.baseurl}}/assets/images/screenshort-image/5.jpg" alt="Carousel">
                </div>
            </div>
        </div>
    </div>
</section>