<section id="testimonials" class="our-testimonials-section section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themeix-section-heading-title">
                    <h2 class="head-title">Our Testimonials</h2>
                    <p class="light-300">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-slider-wrapper">
                    <div class="single-testimonials-section">
                        <div class="image-section">
                            <img src="{{site.baseurl}}/assets/images/testimonials/1.jpg" alt="testimonials">
                        </div>
                        <div class="content-section">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered </p>
                            <div class="author-info">
                                <h4>Jhon Doe - <span>Film Maker</span></h4>
                                <div class="rating"></div>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonials-section">
                        <div class="image-section">
                            <img src="{{site.baseurl}}/assets/images/testimonials/1.jpg" alt="testimonials">
                        </div>
                        <div class="content-section">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered </p>
                            <div class="author-info">
                                <h4>Jhon Doe - <span>Film Maker</span></h4>
                                <div class="rating"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>