<!-- start get appix now -->
<section id="trial" class="get-appix-setion section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="themeix-section-heading-title">
          <h2 class="head-title">Probeer Pokayoka nu</h2>
          <p class="light-300">
              <h3><i class="fas fa-tools"></i></h3>
            We zijn op dit moment druk bezig met het testen van ons product in
            de praktijk. Zodra wij tevreden zijn over de kwaliteit die we kunnen
            leveren, kunt u hier online een account afsluiten en direct aan de
            slag gaan!
          </p>
          <p class="light-300">
            Wilt u op de hoogte gehouden worden? Vul dan hieronder het
            <a href="#contact">contactformulier</a> in.
          </p>
          <h2><a href="#contact"><i class="fas fa-angle-double-down"></i></a></h2>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="display-middle">
          <div class="table-middle">
            <a href="#" class="play-store-button"
              ><i class="fa fa-android"></i> Play Store</a
            >
            <a href="#" class="play-store-button itune-change-bg-color"
              ><i class="fa fa-apple"></i> iTunes</a
            >
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- end get appix now -->
