<!-- start get appix now -->
<section id="trial" class="get-appix-setion section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header">
          <h2 class="head-title">Probeer Pokayoka nu</h2>
          <img
            src="{{ site.baseurl }}/assets/images/ICON.svg"
            alt=""
            class="icon"
          />
          <form
            action="https://app.pokayoka.com"
            method="POST"
            enctype="multipart/form-data"
          >
            <div>
              <input
                type="text"
                name="e-mail"
                id="e-mail"
                placeholder="E-mail adres"
                required
              />
            </div>
            <div>
              <input
                type="file"
                name="plans"
                id="plans"
                accept="application/pdf"
                multiple
                required
              />
            </div>
            <div>
              <button>Send the file</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="company-logos">
        <div class="section-header">
          <h3>Pokayoka wordt vertrouwd door</h3>
        </div>
        <div class="logos">
          <div class="logo-wrapper"><div class="logo bgdd"></div></div>
          <div class="logo-wrapper"><div class="logo engie"></div></div>
          <div class="logo-wrapper"><div class="logo swa"></div></div>
          <div class="logo-wrapper"><div class="logo team4"></div></div>
          <div class="logo-wrapper"><div class="logo vanderplas"></div></div>
          <div class="logo-wrapper"><div class="logo uca"></div></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end get appix now -->
