<section id="who" class="section-ptb">
  <div class="exclusive-features-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2 class="head-title">Voor wie is het?</h2>
            <img
              src="{{ site.baseurl }}/assets/images/ICON.svg"
              alt=""
              class="icon"
            />
          </div>
        </div>
      </div>

      <!-- roles -->
      <div class="row">
        <div class="who-wrapper">
          <div class="role">
            <div class="role-label">
              <div class="radio-wrapper">
                <input
                  type="radio"
                  name="role"
                  id="Aannemer"
                  value="Aannemer"
                />
              </div>
              <label for="Aannemer">Aannemer</label>
            </div>
            <div class="bar-wrapper">
              <div class="bar" style="width: 100%;"></div>
            </div>
          </div>

          <div class="role">
            <div class="role-label">
              <div class="radio-wrapper">
                <input
                  type="radio"
                  name="role"
                  id="Installateur"
                  value="Installateur"
                />
              </div>
              <label for="Installateur">Installateur</label>
            </div>
            <div class="bar-wrapper">
              <div class="bar" style="width: 80%;"></div>
            </div>
          </div>

          <div class="role">
            <div class="role-label">
              <div class="radio-wrapper">
                <input type="radio" name="role" id="ZZP-er" value="ZZP-er" />
              </div>
              <label for="ZZP-er">ZZP-er</label>
            </div>
            <div class="bar-wrapper">
              <div class="bar" style="width: 60%;"></div>
            </div>
          </div>

          <div class="role">
            <div class="role-label">
              <div class="radio-wrapper">
                <input
                  type="radio"
                  name="role"
                  id="Inspecteur"
                  value="Inspecteur"
                />
              </div>
              <label for="Inspecteur">Inspecteur</label>
            </div>
            <div class="bar-wrapper">
              <div class="bar" style="width: 50%;"></div>
            </div>
          </div>

          <div class="role">
            <div class="role-label">
              <div class="radio-wrapper">
                <input
                  type="radio"
                  name="role"
                  id="Opdrachtgever"
                  value="Opdrachtgever"
                />
              </div>
              <label for="Opdrachtgever">Opdrachtgever</label>
            </div>
            <div class="bar-wrapper">
              <div class="bar" style="width: 20%;"></div>
            </div>
          </div>

          <div class="role">
            <div class="role-label">
              <div class="radio-wrapper">
                <input
                  type="radio"
                  name="role"
                  id="Werkvoorbereider"
                  value="Werkvoorbereider"
                />
              </div>
              <label for="Werkvoorbereider">Werkvoorbereider</label>
            </div>
            <div class="bar-wrapper">
              <div class="bar" style="width: 60%;"></div>
            </div>
          </div>

          <div class="role">
            <div class="role-label">
              <div class="radio-wrapper">
                <input
                  type="radio"
                  name="role"
                  id="Uitvoerder"
                  value="Uitvoerder"
                />
              </div>
              <label for="Uitvoerder">Uitvoerder</label>
            </div>
            <div class="bar-wrapper">
              <div class="bar" style="width: 80%;"></div>
            </div>
          </div>

          <div class="role">
            <div class="role-label">
              <div class="radio-wrapper">
                <input
                  type="radio"
                  name="role"
                  id="Timmerman"
                  value="Timmerman"
                />
              </div>
              <label for="Timmerman">Timmerman</label>
            </div>
            <div class="bar-wrapper">
              <div class="bar" style="width: 30%;"></div>
            </div>
          </div>

          <div class="role">
            <div class="new-role">
              <div class="radio-wrapper">
                <input
                  type="radio"
                  name="role"
                  id="new-role"
                  value="new-role"
                />
              </div>
              <input
                type="text"
                name="new-role"
                placeholder="Vul je rol in..."
              />
            </div>
          </div>

          <div class="role button">
            <div class="role-label">
              <div class="radio-wrapper"></div>
              <button class="themeix-btn btn-clear">
                Dit ben ik!
              </button>
            </div>
            <div class="bar-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
