<section id="who" class="section-ptb">
  <div class="exclusive-features-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2 class="head-title">Voor wie is het?</h2>
            <img
              src="{{ site.baseurl }}/assets/images/ICON.svg"
              alt=""
              class="icon"
            />
          </div>
        </div>
      </div>

      <!-- roles -->
      <div class="row">
        <div class="who-wrapper">
          <div class="role">
              <label>Aannemer</label>
          </div>

          <div class="role">
              <label>Installateur</label>
          </div>

          <div class="role">
              <label>Inspecteur</label>
          </div>

          <div class="role">
              <label>Opdrachtgever</label>
          </div>

          <div class="role">
              <label>Werkvoorbereider</label>
          </div>

          <div class="role">
              <label>Uitvoerder</label>
          </div>

          <div class="role">
              <label>Timmerman</label>
          </div>

          <div class="role add-new-role">
            <p>Ben je geïnteresseerd in, of maak je gebruik van Pokayoka en staat jouw rol er niet bij?</p>
            <form>
              <input
                type="text"
                id="add-new-role"
                name="add-new-role"
                placeholder="Voeg jouw rol toe"
                required
              />
              <button type="submit" class="themeix-btn btn-clear btn-add-role">
                Dit ben ik!
              </button>
            </form>
            
          </div>
      </div>
    </div>
  </div>
</section>
