<section id="who" class="section-ptb">
  <div class="exclusive-features-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2 class="head-title">Voor wie is het?</h2>
            <img
              src="{{ site.baseurl }}/assets/images/ICON.svg"
              alt=""
              class="icon"
            />
          </div>
        </div>
      </div>

      <!-- roles -->
      <div class="row">
        <div class="who-wrapper">
          <div class="role">
              <label for="Aannemer">Aannemer</label>
          </div>

          <div class="role">
              <label for="Installateur">Installateur</label>
          </div>

          <div class="role">
              <label for="Inspecteur">Inspecteur</label>
          </div>

          <div class="role">
              <label for="Opdrachtgever">Opdrachtgever</label>
          </div>

          <div class="role">
              <label for="Werkvoorbereider">Werkvoorbereider</label>
          </div>

          <div class="role">
              <label for="Uitvoerder">Uitvoerder</label>
          </div>

          <div class="role">
              <label for="Timmerman">Timmerman</label>
          </div>

          <div class="role new-role">
              <p>Staat je rol er niet bij?</p>
              <div>
                  <input
                    type="text"
                    name="new-role"
                    placeholder="Voeg je eigen rol toe"
                  />
                  <button class="themeix-btn btn-clear">
                      Dit ben ik!
                    </button>
              </div>
              
            </div>
      </div>
    </div>
  </div>
</section>
