.themeix-button-group {
  .themeix-btn {
    font-family: Axiforma;
    padding: 12px 20px;
    display: inline-block;
    font-size: 15px;
    line-height: 24px;
    background: $brand-tertiary;
    margin-right: 12px;
    font-weight: bold;
    color: $gray-darker;
    position: relative;
    z-index: 2;
    transition: 0.1s;
    border: 2px solid $brand-tertiary;

    &:first-letter {
      text-transform: capitalize;
    }
    &:before {
      content: "";
      width: 100%;
      height: 0;
      position: absolute;
      background-color: #ffffff;
      top: 50%;
      left: 0;
      transition: 0.1s;
      z-index: -11;
    }
    &:after {
      content: "";
      width: 100%;
      height: 0;
      position: absolute;
      background-color: #ffffff;
      bottom: 50%;
      left: 0;
      transition: 0.1s;
      z-index: -11;
    }
    &:hover {
      &:before {
        height: 50%;
      }
      &:after {
        height: 50%;
      }
    }
    &.btn-clear:before {
      content: "";
      width: 100%;
      height: 0;
      position: absolute;
      background-color: $brand-secondary;
      top: 50%;
      left: 0;
      transition: 0.1s;
      z-index: -11;
    }
  }
}
.themeix-button-group .themeix-button-group .btn-clear:hover:before {
  height: 50%;
}
.themeix-button-group .btn-clear {
  background: transparent;
  border: 2px solid $brand-secondary;
  color: $brand-secondary;

  &:after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    background-color: $brand-secondary;
    bottom: 50%;
    left: 0;
    transition: 0.1s;
    z-index: -11;
  }
  &:hover {
    color: #ffffff;

    &:after {
      height: 50%;
    }
    &:before {
      height: 50%;
    }
  }
  // clear white
  &.btn-clear-white {
    border-color: $white;
    color: $white;

    &:before {
      background-color: $white;
    }
    &:after {
      background-color: $white;
    }
    &:hover {
      color: $gray-darker;
    }
  }
}

.themeix-button-group .btn-clear

.themeix-button-group .btn-clear.btn-clear-white
.themeix-button-group .btn-clear

// clear gray
.themeix-button-group .btn-clear.btn-clear-gray:before {
  background-color: $gray;
}
.themeix-button-group .btn-clear.btn-clear-gray:after {
  background-color: $gray;
}
.themeix-button-group .btn-clear.btn-clear-gray:hover {
  color: $white !important;
}
.themeix-button-group .btn-clear.btn-clear-gray {
  border-color: $gray;
  color: $gray;
}
