@media screen and (max-width: 600px) {
  /** Site header */
  header.site-header {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right;

      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        > svg path {
          fill: #424242;
        }
      }
      input ~ .trigger {
        clear: both;
        display: none;
      }
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
      .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px;

        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  main.page-content {
    .post-title {
      font-size: 36px;
    }
    .post-content {
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 26px;
      }
      h3 {
        font-size: 22px;
      }
      h4 {
        font-size: 18px;
      }
    }
  }
}
