$brand-primary: #0b008e;
$brand-secondary: #33d3c5;
$brand-tertiary: #f2ce00;

$gray-darkest: #0c0c10;
$gray-darker: #0c0c10;
$gray: #75797d;
$gray-lighter: #cbcbcd;
$gray-lighter: #f0f1f2;

$white: #feffff;
