$brand-primary: #0b008e;
$brand-secondary: #33d3c5;
$brand-tertiary: #f2ce00;

$gray-darkest: #1c1d25;
$gray-darker: #1c1d25;
$gray: #8a8b8f;
$gray-lighter: #f4f4f4;
$gray-lightest: #f0f1f2;

$white: #feffff;
