#who {
  .who-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 30px 0 30px;

    .role {
      flex: 1;
      display: flex;
      justify-content: center;
      margin: 0 6px 6px 0;
      padding: 20px 30px;
      background-color: rgba(51, 211, 197, 0.15);
      max-width: 30%;

      label {
        font-family: AxiFormaBold;
      }
      &.new-role {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 550px;
        min-width: 450px;

        p {
          margin: 0;
          text-align: center;
        }
        > div {
          display: flex;
          flex-direction: row;
          align-items: center;

          input[type="text"] {
            margin: 0 12px 0 0;
            flex: 1;
            height: 36px;

            &::placeholder {
              color: $gray;
              font-size: 16px;
            }
          }
          button.themeix-btn {
            margin-right: 0;
          }
        }
      }
      label {
        margin: 0;
        padding: 0;
      }
    }
  }
}
