<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="author" content="Pokayoka" />
    <meta
      name="description"
      content="Bespaar op faalkosten en investeer in kwaliteit met Pokayoka "
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- favi icon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site.baseurl }}/assets/images/favicon-2.png"
    />

    <!-- Site Title -->
    <title>{{ site.productName }} - {{ page.title }}</title>

    <!-- bootstrap main css -->
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/assets/css/bootstrap.min.css"
    />

    <!-- Theme main css -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
  </head>

  <body data-spy="scroll" data-target="#header-menu">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    {{ content }}

    <!-- scrollUP button -->
    <a id="scrollUp" href="#"></a>
    <!-- end scrollUP button -->

    <!-- jquery main framwork -->
    <script src="{{
        site.baseurl
      }}/assets/js/vendor/jquery-1.12.0.min.js"></script>

    <!-- bootstrap framwork js -->
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

    <!-- All plugin js -->
    <script src="{{ site.baseurl }}/assets/js/plugins.js"></script>

    <!-- smoothscroll.js -->
    <script src="{{ site.baseurl }}/assets/js/smooth-scroll.min.js"></script>

    <!-- Theme all active js -->
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

    <pre>
      V column layout voor menu in phone size
      V paddings van phone size te groot
      V handover werkwijze link is block?
      V tekst handovers ontbreekt
      - cookie warning toevoegen
      - favicon
      - "voor wie is het" werkend maken
      - privacy policy en algemene voorwaarden toevoegen
      - eigen foto's maken en gebruiken
      - analytics toevoegen
      - 
    </pre>
  </body>
</html>
