<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="author" content="Pokayoka" />
    <meta
      name="description"
      content="Bespaar op faalkosten en investeer in kwaliteit met Pokayoka "
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- favi icon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site.baseurl }}/assets/images/favicon.png"
    />

    <!-- Site Title -->
    <title>{{ site.productName }} - {{ page.title }}</title>

    <!-- bootstrap main css -->
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/assets/css/bootstrap.min.css"
    />

    <!-- Theme main css -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />

    <!-- Filepond css -->
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/assets/css/filepond.min.css"
    />
  </head>

  <body data-spy="scroll" data-target="#header-menu">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    {{ content }}

    <!-- scrollUP button -->
    <a id="scrollUp" href="#"></a>
    <!-- end scrollUP button -->

    <!-- jquery main framwork -->
    <script src="{{
        site.baseurl
      }}/assets/js/vendor/jquery-1.12.0.min.js"></script>

    <!-- bootstrap framwork js -->
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

    <!-- All plugin js -->
    <script src="{{ site.baseurl }}/assets/js/plugins.js"></script>

    <!-- smoothscroll.js -->
    <script src="{{ site.baseurl }}/assets/js/smooth-scroll.min.js"></script>

    <!-- filepond.js -->
    <script src="{{
        site.baseurl
      }}/assets/js/filepond-plugin-file-validate-type.min.js"></script>
    <script src="{{
        site.baseurl
      }}/assets/js/filepond-plugin-file-encode.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/filepond.min.js"></script>

    <!-- Theme all active js -->
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

    <!-- CookiePro Cookies Consent Notice start -->
    <script
      src="https://cookie-cdn.cookiepro.com/consent/1c1fd999-c751-4ba9-8bf7-d4ac81d4798c.js"
      type="text/javascript"
      charset="UTF-8"
    ></script>
    <script type="text/javascript">
      function OptanonWrapper() {}
    </script>
    <!-- CookiePro Cookies Consent Notice end -->

    <!-- <Google Analytics: Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-140270638-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-140270638-1");
    </script>
    <!-- </Google Analytics -->
  </body>
</html>
